.Profileparent{
    background-image: url(../../../../../public/img/Projects_img/Jsx/8275354.jpg);
    background-size:cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
.profile{
    box-shadow: 1px 1px 15px;
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 auto;
    margin-top: 4em;
    background-color: white;
    width: 30em;
    height: 29em;
}
.custom-shape-divider-bottom-1681241928 svg {
    position: relative;
    display: block;
    width: calc(182% + 1.3px);
    height: 200px;
  }
  
  .custom-shape-divider-bottom-1681241928 .shape-fill {
    fill: #FFFFFF;
    filter: drop-shadow(0 0 5px black);
  }