.cardsgrandparent{
    background-color: #416FCF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%23416FCF'/%3E%3Cstop offset='1' stop-color='%2333467D'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%233c6acb'/%3E%3Cstop offset='1' stop-color='%232f4076'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%233764c7'/%3E%3Cstop offset='1' stop-color='%232c3a6f'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%233761be'/%3E%3Cstop offset='1' stop-color='%23283468'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%23375db6'/%3E%3Cstop offset='1' stop-color='%23252f61'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%23375aad'/%3E%3Cstop offset='1' stop-color='%2321295a'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%233756a5'/%3E%3Cstop offset='1' stop-color='%231e2453'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%2336539d'/%3E%3Cstop offset='1' stop-color='%231b1f4c'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%23365094'/%3E%3Cstop offset='1' stop-color='%23181b45'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%23354d8c'/%3E%3Cstop offset='1' stop-color='%2315173d'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%23344985'/%3E%3Cstop offset='1' stop-color='%23121336'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%2333467D'/%3E%3Cstop offset='1' stop-color='%230F0F2E'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg %3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    width: 100%;
    z-index: -1;
}
.cardgrandparent{
    margin: 8em auto;
    display: flex;
    justify-content: center;
    width: 80em;
    position: relative;
    height: 34em;
}
.photo{
    border-top-left-radius: 10px;
}
.inform{
    overflow-wrap: break-word;
    border-top-right-radius: 10px;
    background-color: rgb(125, 127, 157);
    width: 61.3em;
    display: flex;
    flex-direction: column;
}
.helpflex{
    display: flex;
    justify-content: space-around;
}
.helpflex div{
    padding-left: 2em;
    
}
.firstchild{
    width: 24em;
}
.thirdinfochild{
    width: 18em;
    margin-top: 4em;
}
.titleofinfo{
    margin-left: 1em;
    margin-bottom: 0.5em;
    background: -webkit-linear-gradient(#a3a3a3, #e1e1e1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.selecter{
    background-color: rgb(32, 32, 86);
    font-family: Century Gothic;
    color: white;
    border-radius: 10px;
    padding: 5px;
    border: solid white;
    position: absolute;
    top: 5em;
    left: 8%;
}
.selecter:focus{
    outline:none;
}

.inform p{
 display: inline;
 color: white;
 font-size: 90%;
}
.custom-shape-divider-bottom-1684615454 {
    z-index: 1;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1684615454 svg {
    position: relative;
    display: block;
    width: calc(218% + 1.3px);
    height: 180px;
    
}

.custom-shape-divider-bottom-1684615454 .shape-fill {
    fill: white
}

