.gamesparent{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 1s;
}
.gamezoneimg{
    width: 50em;
    left: 20em;
    position: absolute;
}
.gamezonetitle{
    color: white;
    position: relative;
    letter-spacing: 1em;
    left: 11em;
    top: 20em;
}