.homeparernt{
    position: absolute;
    width: 100%;
    height: 50%;
    transition: 1s;
}
.arrows{
    filter: invert(100%);
    width: 5em;
}
.h3arrows{
    color: white;
}
.controll{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 9em;
    right: 30em;
}
.or{
    margin: 40px 0px;
    font-size: 300%;
}
.welcome{
    color: white;
    position: relative;
    letter-spacing: 0.4em;
    text-decoration: dotted underline ;
}
.welcome::after{
    content: '';
    position: absolute;
    top: 1em;
    margin-left: -6px;
    width: 10px;
    height: 10px;
    background-color: black;
}
.welcomeparent{
    width: 100%;
    text-align: center;
}
.click{
    filter: invert(100%);
    transform: rotate(-10deg);
    position: relative; 
    width: 4em;
    position: absolute;
    top: 3.5em;
    left: 50%;
    z-index: 1;
}
.clicktest{
    position: relative;
    width: 6em;
    clip-path: circle();
}
.clicktestparent{
    position: relative;
    bottom: 13em;
    left:27em;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.clickh3{
    margin-bottom: 1em;
    color: white;
    position: relative;
}
.mapintro{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 9em;
    left: 27.5em;
}
.mapintro img{
    width: 3em;
    position: relative;
    top: 0;
}
.mapintro h3{
    color: white;
}
