.joystickgrandparent{
    display: none;
    position: absolute;
    bottom: 2em;
    right: 2em;
    z-index: 2;
}
.joystickparent{
position: relative;
width: 12em;
height: 12em;
display: grid;
grid-template-columns: auto auto auto;
}
.joystickparent button{
    background-color: transparent;
    border: none;
    z-index: 2;
    outline: none;
}
.joystickparent button:active{
    box-shadow: 0px 0px 20px gray;
}
.joystickparent::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(/public/img/joystick.png);
    filter: invert(100%);
  }
  @media (hover: none) {    
	.joystickgrandparent{
        display: block !important;
        scale: 0.5;
        bottom: -1em;
        right: -1em;
    }
}